/******** UNDOESSSS *****************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: whitesmoke;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.row { 
  display: flex; 
}

.column { 
  flex: 50%; 
}

header .navbar {
  font-size: 18px;
  background: #196619;
  padding-bottom: 10px;
}

header .main-nav {
  list-style-type: none;
  display: none;
}

header .nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

header .main-nav li {
  text-align: center;
  margin: 15px auto;
}

header .logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

header .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

header .active {
  display: block;
}

@media screen and (min-width: 768px) {
  header .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  header .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  header .main-nav li {
    margin: 0;
  }

  header .nav-links {
    margin-left: 40px;
    font-size: 20px;
  }

  header .logo {
    margin-top: 0;
  }

  header .navbar-toggle {
    display: none;
  }

  header a.nav-links:hover {
    color: #fff;
    text-decoration: underline; 
  }
}

@media screen and (max-width: 430px) { 
  .row { 
    flex-direction: column; 
  }
  .column { 
    flex: 100%;
  }
}

@media screen and (max-width: 610px) { 
  button.tablinks, button.tablinks { 
    font-size: 12px; 
    max-width: 100px; 
    color: #fff;
    height: 30px; 
  }

  p.foot-link { 
    font-size: 16px; 

  }
  p.foot-link a {
    display: block; 
  }
  .title { 
    font-size: 20px; 
    padding: 0px 20px; 
  }

  .homepage { 
    font-size: 18px; 
  }
  
  .text-container { 
    padding: 40px; 
  }

  p { 
    font-size: 16px; 
    }

  .privacy { 
    font-size: 16px; 
  }

  .copyright {
    font-size: 16px;
  }

  td, th { 
   width: 200px; 
 
  }


}

.copyright {
    font-size: 15px;
}

.foot{
  margin: 25px 0px; 
}
.foot p {
    text-align: center;
}

.foot-link {
    font-style: normal;
    font-size: 20px;
    margin: 10px 0px; 
    text-align: center;
}

.link {
    text-decoration: none;
    color: black;
    padding: 15px;
}

p em {
    font-style: normal;
}

h1 {
  font-size: 30px;
  font-weight: 300;
}


h2 {
  font-size: 24px;
  padding: 0px;
  text-align: center;
  font-size: 30px;
  color: black;
  padding-top: 10px;

}

h3 {
  font-size: 20px;
  font-weight: 300;
}


.Terms {
    font-size: 35px;
    font-weight: 250;
} 

th {
  border-bottom: 1px solid #ddd;

}

table {
  background-color: white;
  text-align: center;
  margin: 0px auto;
}

td {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

td, th { 
  max-width: 470px;
  width: 50%; 
  padding: 10px; 
}

td h3 { 
  text-align: left; 
}

table {
    border: 1px solid #196619;
    border-radius: 1%;
}

tbody tr:nth-child(odd) {
  background: lightgray;
}

.tab button:hover {
  background-color: #196619;
}

.tab button.active {
  background-color: #196619;
}

.tab {
  display: block;
  text-align:center; 
}

.tablinks, .tablinks1
 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: whitesmoke;
    background-color: #0f3d0f;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    max-width: 200px;
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    transition: 0.5s;
}

.calculator {
    color: black;
    max-width: 730px;
    padding: 25px;
    background: white;
    margin: 0 auto;
    border-radius: 5%;
    display: none;
}


.monthly-salary {
  font-size: 23px;
}

.homepage {
    text-decoration: none;
    color: whitesmoke;
}

.button {
  background-color: ghostwhite;
  color: black;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid black;
  margin-left: 5px;
}

.submit-form {
  background-color: ghostwhite;
  color: black;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid black;
  /* margin-left: 19px; */
}

.income-annual, .income-monthly {
  /* margin-left: 10px; */
  font-size: 23px;
  line-height: 45px;
}

#annual, #annual-unsalaried, #annual-rental {
    margin-left: 50px;
}

.salary {
    height: 30px;
    width: 175px;
    font-size: 21px;
    border-radius: 5px;
}

.contact {
    max-width: 1000px; 
    display: block;
    margin: 0 auto; 
}

/* this targets section with class contact,
the form element inside it */
.contact form { 
  max-width: 500px; 
  margin: 0 auto; 
}

.contact-form {
    font-family: 'Montserrat', sans-serif;
    height: 30px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    /* margin-left: 18px; */
    margin-bottom: 10px;
}

.contact-label {
    /* margin-left: 20px; */
    font-size: 22px;
    margin-bottom: 5px; 
}

#comments {
    height: 250px;
}

.result {
    font-size: 25px;
}

#title-salaried {
    text-align: center; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.privacy {
    font-size: 16px;
    text-align: justify;
}

.text-container { 
  max-width: 1000px; 
  width: 100%; 
  padding: 40px; 
  margin: 0 auto; 
}

.text-container p { 
  text-align: justify;
}

.privacy { 
  padding: 40px; 
}

.title{
  margin: 25px 0px;
}

.field-space { 
  margin-bottom: 30px; 
}